/* 기존의 CSS */

@import url("https://static.toss.im/tps/main.css");
@import url("https://static.toss.im/tps/others.css");

* {
    font-family: "Toss Product Sans";
}

body {
    font-size: 0.8em;
    padding: 4rem;
}

.middle-css {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logout_btn {
    min-width: 80px;
    max-height: 25px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}

#login_btn {
    min-width: 74px;
}

#login_team_select_btn {
    min-width: 110px;
}

td {
    text-align: left;
    border-left: 1px solid #ddd; /* 세로 줄 추가 */
    /* 세로 줄 추가 */
    min-width: 40px;
}

.reserved {
    cursor: pointer;
}

th {
    min-width: 40px;
}

/* 테이블의 전체 테두리 */
table {
    border-collapse: collapse;
    border: 1px solid #ddd; /* 테이블 전체 테두리 */
}

/* 가로 스크롤을 위한 설정 */
.reservation-container {
    overflow-x: auto; /* 가로 스크롤을 추가 */
    max-width: 100%; /* 컨테이너의 최대 너비를 화면에 맞춤 */
}

.timeline {
    position: relative;
    right: 16px;
}

.detail_reservation_item {
    border: none;
    margin-top: 6px;
}

.id {
    border: none;
}

.bi {
    margin-bottom: 0;
    cursor: pointer;
}

#date_select {
    border: 1px solid;
    position: relative;
    max-width: 120px;
}

.time-container {
    position: relative; /* 부모 컨테이너에 position 설정 */
}

.button-container {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 6px;
}

.select {
    background-color: #d1e7dd !important;
}

.welcome-container {
    height: 25px;
    line-height: 25px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    align-items: center;
    gap: 4px;
}
