/* 기존의 CSS */

@import url("https://static.toss.im/tps/main.css");
@import url("https://static.toss.im/tps/others.css");
:root {
    --thumbColor: red;
}

* {
    font-family: "Toss Product Sans";
    box-sizing: border-box;
}

body {
    font-size: 0.8em;
}

.middle-css {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logout_btn {
    min-width: 80px;
    max-height: 25px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}

#login_btn {
    min-width: 74px;
}

#login_team_select_btn {
    min-width: 110px;
}

td {
    text-align: left;
    border-left: 1px solid #ddd; /* 세로 줄 추가 */
    /* 세로 줄 추가 */
    min-width: 20px;
    height: 20px;
}

.reserved {
    cursor: pointer;
    /* border-left: none; 원소 테두리없이 */
}

/* 테이블의 전체 테두리 */
table {
    border-collapse: collapse;
    border: 1px solid #ddd; /* 테이블 전체 테두리 */
}

/* 가로 스크롤을 위한 설정 */
.reservation-container {
    overflow-x: auto; /* 가로 스크롤을 추가 */
    max-width: 100%; /* 컨테이너의 최대 너비를 화면에 맞춤 */
}

.timeline {
    position: relative;
    right: 16px;
}

.detail_reservation_item {
    border: none;
    margin-top: 6px;
}

.id {
    border: none;
}

.bi {
    margin-bottom: 0;
    cursor: pointer;
}

#date_select {
    border: 1px solid #d5d5d5;
    position: relative;
    max-width: 120px;
}

.time-container {
    position: relative; /* 부모 컨테이너에 position 설정 */
}

.button-container {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 6px;
}

.select {
    background-color: #d1e7dd !important;
}

.welcome-container {
    /* height: 25px;
    line-height: 25px;
    justify-content: space-between;
    font-size: 15px;
    gap: 4px; */
    display: flex;
    align-items: center;
}
th {
    min-width: 20px;
    height: 20px;
}
.col {
    min-width: 80px;
}

.reservation-container {
    position: relative;
}
.loader-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.blinking {
    -webkit-animation: blink 1s ease-in-out 2 alternate;
    -moz-animation: blink 1s ease-in-out 2 alternate;
    animation: blink 1s ease-in-out 2 alternate;
    border: 1px solid;
}

@-webkit-keyframes blink {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
p {
    display: block;

    margin-top: 1em;

    margin-bottom: 1em;

    margin-left: 0;

    margin-right: 0;
}

.wrapper .row {
    flex-wrap: nowrap;
    margin: 0;
}

.col {
    min-width: 0px;
}

#filter_select_team_btn {
    min-width: 215px;
}

#color-items {
    display: flex;
    flex-wrap: wrap;
}

/* 첫 번째 열 고정 */
th:first-child,
td:first-child {
    position: sticky;
    left: 0;
    background-color: white;
    z-index: 1;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

#none_container {
    margin: 0 20px 0 20px;
}
