body {
    font-family: tahoma, verdana, helvetica;
    font-size: 0.8em;
    padding: 10px;
}

.middle-css {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reserved {
    cursor: pointer;
}

#login_btn {
    min-width: 74px;
}

#login_team_select_btn {
    min-width: 110px;
}
